<div class="container">
<h2 class= "pt-2" >Saved Recipes</h2>
  <div data-controller="add-bookmark">
    <% if @bookmarks.any? %>
      <% @bookmarks.each do |bookmark| %>
        <%= link_to recipe_path(bookmark.recipe), class: "link-in-bookmark-index text-decoration-none" do %>
          <%= render "bookmark_card", bookmark: bookmark %>
        <% end %>
      <% end %>
    <% else %>
      <p>...No bookmarks yet</p>
    <% end %>
  </div>
</div>
