<div class="container">


  <% if @bookmarks.any?  %>
    <% @bookmarks.each do |bookmark| %>
      <%= render "bookmark_card", bookmark:bookmark %>
    <% end %>
  <% else %>
    <p>...No bookmarks yet</p>
  <% end %>



</div>
