// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  padding-bottom: 24px;
}

.home-search-btn {
  display: flex;
  justify-content: center;
}

.home-community-text {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

.carousel-item {
  height: 500px;
}

.landing-page-content {
  position: absolute;
  margin-top: 100px;
  z-index: 1;
  text-align: center;
  color: white;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px grey;
  }
  .btn-home {
    width: 275px;
    margin: 0 auto;
    color: white;
    padding: 0 auto;

    .btn {
      border-radius: 10px;
      color: white;
    }

    :hover {
      background: rgb(17, 128, 17);
    }
  }
}

.how-it-works {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  h2 {
    font-size: 20px;
  }
  img {
    width: 80px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .step-card {
    margin-bottom: 32px;
  }

  .p {
   margin-bottom: 70px;
  }
}

.community-page-render {
  margin: 0 30px;
}
// .below-banner-content {
//   background-color: #90D080;
// }
