// .closeIcon {
//   font-size: 125%;
//   padding: 8px;
//   margin-top: 8px;
//   margin-bottom: -8px;
//   font-size: 125%;
// }

.filterIcon {
  position: absolute;
  right: 14px;
  margin-top: 8px;
  font-size: 150%;
  z-index: 2;
}

.filters {
  display: block;
  z-index: 3;
  top: 68px;
  height: 100%;
  position: fixed;
  background: linear-gradient(to right bottom, rgba(48, 167, 18, 0.95), rgba(144, 208, 128, 0.95));
  right: 0px;
  top: 69px;
  padding: 16px;
  width: 100%;
  transition: right, 0.5s;
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .checkbox-field {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
  }

}

.closed {
  right: -1455px;
}

.list-count {
  position: relative;
  top: 6px;
}

.no-results {
  margin: 100px auto;
  text-align: center;
}

.no-results-button {
  color: white;
  border-radius: 5px;
}
