.filter_icons {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  margin-bottom: -8px;
  font-size: 125%;
}

.filters {
  display: none;
  z-index: 3;
  top: 68px;
  height: 100%;
  position: absolute;
  background: rgba(51, 170, 51, .95);
  left: 0px;
  right: 0px;
  top: 69px;
  padding: 16px;
  width: 100%;
}

.no-results {
  margin: 100px auto;
  text-align: center;
}
