.search-container {
  margin-top: 80px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin-top: 22px;
  }

  input[type='range'] {
    appearance: none;
    -webkit-appearance: none !important;
    background: #b1f5a0;
    height:7px;
  }
  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background: #30A712;
      height:15px;
      width:15px;
      border-radius: 50%;
  }

  .btn-primary {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }

  .btn-secondary {
    font-size: 16px;
    border-radius: 10px;
    margin-top: 12px;
  }

  .ts-control {
    margin-top: 12px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 16px;
  }

  .ts-dropdown {
    font-size: 16px;
  }

  .ts-wrapper {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    height: 52px;
  }

  .fa-x {
    margin-top: 12px;
    padding: 12px;
    font-weight: 300;
    color: grey;
  }
}
