<div class="recipes" data-index-filter-target="list">
  <%= recipes.count %>
  <% recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe), class: "text-decoration-none", data: {modal_target: "card"} do %>
      <%= render "recipe_card", recipe: recipe %>
    <% end %>
  <% end %>
</div>
