<div class="other-recipes-cards">
    <h5>Users' posts on this recipe </h5>
      <div class="cards d-flex justify-content-start">

        <% unless recipe.posts.empty? %>
          <%  recipe.posts.each do |post| %>
            <%= link_to posts_path(post) do %>
              <div class="card-category-post d-flex flex-column col-sm-4 col-lg-4">
                <%= cl_image_tag post.photo.key, :class => "responsive" %>
                <div class="overflow-auto">
                  <p><%= post.title %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p><%= "No User posts on this recipe yet." %></p>
        <% end %>

      </div>
    </div>
