<div class="recipe-card">
  <img src=<%= recipe.image %> alt=<%= recipe.title %>>
  <div class="card-content">
    <h2><%= recipe.title %></h2>
    <div class="card-details">
      <p class="card-description"><%= recipe.description.truncate(100) %></p>
      <div class="rating_bookmark">
        <p>4.2 ⭐️</p>
        <i class="fa-regular fa-bookmark"></i>
      </div>
    </div>
  </div>
</div>
