<div class="recipe-card">
  <img src="https://lovefoodnotcooking.com/wp-content/uploads/2022/09/air-fryer-pizza-l-200x200.jpg" alt="placeholder_image">
  <div>
    <h2><%= recipe.title %></h2>
    <p>Something description will go here, TBD</p>
  </div>
</div>
