<div class="container" data-controller="modal">
  <div class="filter_icons">
    <i class="fa-solid fa-arrow-down-wide-short" data-action="click->modal#sort"></i>
    <i class="fa-solid fa-filter" data-action="click->modal#filters"></i>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <% if @recipes.empty? %>
        <div class="no-results">
          <h3>Sorry, no recipes found, try a different search</h3>
          <%= link_to "Back to search", search_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "text-decoration-none", data: {modal_target: "card"} do %>
          <%= render "recipe_card", recipe:recipe %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="filters" data-modal-target="filters">
    <div class="d-flex justify-content-between">
      <h3 class="my-0">Filters</h3>
      <i class="fa-solid fa-xmark" data-action="click->modal#closeFilters"></i>
    </div>
    <%= render "shared/search_form", ingredients:@ingredients %>
  </div>
</div>
