<div class="container" data-controller="modal index-filter sort-index" data-index-filter-ingredients-value="<%= @ingredients_values.to_json %>">
  <%# <div class="filter_icons"> %>
  <i class="fa-solid fa-filter filterIcon" data-action="click->modal#filters"></i>
  <%# </div> %>
  <div class="d-flex justify-content-center">
    <div data-controller="add-bookmark" >
      <%= render "recipes/list", recipes: @recipes %>
    </div>
  </div>
  <div class="filters closed" data-modal-target="filters">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="my-0">Filters</h3>
      <i class="fa-solid fa-xmark closeIcon" data-action="click->modal#closeFilters"></i>
    </div>
    <%= render "filters", ingredients:@ingredients %>
  </div>
</div>
