<div class="container">
  <div class="filters" data-controller="modal">
    <i class="fa-solid fa-arrow-down-wide-short" data-action="click->modal#sort"></i>
    <i class="fa-solid fa-filter" data-action="click->modal#filters"></i>
  </div>
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
      <%= render "recipe_card", recipe:recipe %>
    <% end %>
  <% end %>
</div>
