<div>
  <div class="landing-page-content">
      <h1><strong>Embark on a culinary journey, minimizing waste with diverse recipes using your home ingredients.</strong></h1>
      <div class="btn-home"><a class="btn btn-primary home-search-btn" href="#">Build Your Recipe</a></div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.salzburgglobal.org/uploads/pics/dan-gold-4_jhDO54BYg-unsplash-1200x675.jpg);">
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod/images/table-filled-with-large-variety-of-food-shot-from-royalty-free-image-1659038707.jpg?crop=1xw:0.84335xh;center,top&resize=1200:*);">
        <%# food image:size 1200x675 - Google Search %>
      </div>
    </div>
  </div>
</div>
  <div class= "home-community-text">
    <p>Join us, share your twist on recipes, and post pictures with the community!</p>
  </div>
  <div class="community-page-render">
    <%# To be added after the creation of community page %>
  </div>
