<h1>This will be the search page once we build it</h1>
<%# Just added this link below to navigate on my local host, please remove or change as appropriate %>
<%= link_to "Show all recipes", recipes_path %>
