<h1>User Posts</h1>
<ul class="list-group">
  <% @posts.each do |post| %>
    <li class="list-group-item"><%= post.user %></li>
    <li class="list-group-item"><%= post.title %></li>
    <li class="list-group-item"><%= post.rating %></li>
    <li class="list-group-item"><%= post.description %></li>
  <% end %>
</ul>
<br>
