<div class="community-container container posts-index ">
  <div class="posts">
    <h2>Delicious discoveries in our community feed!</h2>
    <div class="all-the-posts">
      <% @posts.each do |post| %>
        <%= render "index_post_card", post:post %>
      <% end %>
    </div>
  </div>
</div>
