.navbar-wastenot {
  justify-content: space-between;
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 3;
  height: 50px;
  font-size: 26px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.iconnav {
  color: rgb(93, 93, 94);
}

.active {
  color: $primary;
}

.avatar-navbar {
  height: 29px;
  width: 29px;
  border-radius: 50%;
}
