.show-container{
  // margin: 6px auto 50px;
  // width: 320px;

  .back-link {
    color: gray;
  }

  .recipe-info-card{
    .responsive{
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      padding: 0px;
    }

    .comment-icon {
      .fa-regular {
        color: #30A712;
      }
    }
  }
  .recipe-key-details-card{
    height: 150px;
    // font-size: 14px;
    color: white;
    line-height: 10px;
    // text-shadow: 0 0 5px gray;
    padding: 15px;
    // padding-top: 15px;
    background-color: rgb(109,211,119);
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .info{
    height: 150px;
    width: 100%;
    font-size: 14px;
    color: white;
    line-height: 10px;
    background-color: rgb(109,211,119);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: scroll;
  }
  .other-recipes-cards{
    margin-top: 15px
  }

  .card-category{
    background-size: cover;
    background-position: center;
    background-color: rgb(109,211,119);
    background: linear-gradient(to right bottom, #30A712, #b1c9ab);
    padding: 5px;

    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-size: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(98, 97, 97, 0.2);

    .responsive{
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    a:link{
      text-decoration: none;
    }

  }

  .card-category-post{
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 5px;
    margin-inline: 2px;
    position: relative;

    height: 165px;
    width: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: gray;
    font-size: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(98, 97, 97, 0.2);

    .responsive{
      width: 100%;
      height: 90%;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 2px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .post-user-avatar {
      position: absolute;
      right: 67px;
      top: 80px;
      width: 30px;
      height:30px;
      border-radius: 50%;
      border: 1px solid white;
    }

  }
}
.star{
  vertical-align: sub;
}
.accordion-button{
  // text-shadow: 0 0 5px gray;
  color: white;
  background-color: rgb(109,211,119);
}
a:link{
  text-decoration: none;
}

.green-bookmark {
  color: #30A712;
}

.copy_ingredients_button {
  position: relative;
  width: 100%;
  color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  .clicked {
    color: white;
  }
}
